html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.deck-container {
  position: relative;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: auto;
}
.js .deck-container {
  visibility: hidden;
}
.ready .deck-container {
  visibility: visible;
}
.touch .deck-container {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
}

.deck-loading {
  display: none;
}

.slide {
  width: auto;
  min-height: 100%;
  position: relative;
}

.deck-before, .deck-previous, .deck-next, .deck-after {
  position: absolute;
  left: -999em;
  top: -999em;
}

.deck-current {
  z-index: 2;
}

.slide .slide {
  visibility: hidden;
  position: static;
  min-height: 0;
}

.deck-child-current {
  position: static;
  z-index: 2;
}
.deck-child-current .slide {
  visibility: hidden;
}
.deck-child-current .deck-previous, .deck-child-current .deck-before, .deck-child-current .deck-current {
  visibility: visible;
}


/* BLAZEBIT STYLES */

h2 {
  position: relative !important;
  left: -48px !important;
  right: -48px !important;
  width: calc(100% + 96px) !important;
  background-color: #0994c4 !important;
  color: #fff !important;
  border-bottom: none !important;
  padding-left: 48px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

ul, ol {
  margin-left: 1em !important;
}

#title-slide {
    background: url(https://blazebit.com/test/images/bg_header.v201611071621360210.jpg);
    background-size: cover;
    color: #fff !important;
    background-position: center center;
}

#title-slide h1 {
  color: #fff !important;
  font-size: 4em !important;
}

#title-slide #author {
    font-size: 0.8em !important;
    position: relative !important;
    top: 20px !important;
    left: -10px !important;
}

#_about_us .imageblock {
  float: left !important;
}

#_about_us img {
    border-radius: 100px;
    margin-top: 33px;
    z-index: 10;
    margin-right: 30px;
}

#_about_us ul {
  list-style-type: none;
}

#_about_us .openblock { clear: left; }

a, a:hover, a:focus, a:active, a:visited {
  color: #0994c4 !important;
}

/* END BLAZEBIT STYLES */
